/* Enter your custom styles here */

.sapMTB{
    justify-content: center;
}
.sapMBar{
    display: none;
}
html, body, body > div, #container, #container-uiarea {
    height: 100%;
}
.sapMPage.sapUiContentPadding > section{
    padding: 0;
    height: auto;
}
.sapMPage>section{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.sapUiTheme-sap_bluecrystal .sapUiDSC {
	background-color: rgb(242, 248, 252);
}