/* Enter your custom styles here */

.sapMTB {
    justify-content: center;
}
html, body, body > div, #container, #container-uiarea {
    height: 100%;
}
.sapUiTheme-sap_bluecrystal .sapUiDSC {
    background-color: rgb(242, 248, 252);
}

/* === BLINK === */
.blinkingText {
    color: red;
    font-weight: bold;
    animation: blink 1s infinite;
}
.blinkingTextServico {
    color: greenyellow;
    font-weight: bold;
    animation: blink 1s infinite;
}
/* NOVO: piscar para PEÇA */
.blinkingTextPeca {
    color: red;
    font-weight: bold;
    animation: blink 1s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}
