/* Enter your custom styles here */
.sapMPage>section{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.sapMTB {
    justify-content: center;
}
html, body, body > div, #container, #container-uiarea {
    height: 100%;
}
.sapUiTheme-sap_bluecrystal .sapUiDSC {
    background-color: rgb(242, 248, 252);
}

/* === BLINK === */
.blinkingText {
    color: red;
    font-weight: bold;
    animation: blink 1s infinite;
}
.blinkingTextServico {
    color: greenyellow;
    font-weight: bold;
    animation: blink 1s infinite;
}
/* NOVO: piscar para PEÇA */
.blinkingTextPeca {
    color: red;
    font-weight: bold;
    animation: blink 1s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}
/* Chave girando quando há manutenção hoje */
.spin-anim {
  animation: spin 1.1s linear infinite;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
